<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="register" method="post">
        {% csrf_token %} First Name :<input type="text" name="first_name" id="" placeholder="First Name"><br> Last Name :<input type="text" name="last_name" id="" placeholder="Last Name"><br> Username :<input type="text" name="username" id="" placeholder="User Name"><br>        Email ID :<input type="email" name="email" id="" placeholder="Email"><br> Password :<input type="password" name="password1" id="" placeholder="Password"><br> Confirm Password :<input type="password" name="password2" id="" placeholder="Confirm Password"><br>
        <input type="submit" value="Register">
    </form>

    <div>
        <!-- <h3>{{messages}}</h3> -->
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>

</html>